@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
}

html, body {
    background-color: #171717;
    color: white;
    font-family: 'Poppins', sans-serif, 'Courier New', Courier, monospace;
    margin: auto;
    padding: 0;
    text-align: center;
    max-width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header, footer {
    margin: 20px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.footer p {
    margin: 0;
    padding-left: 10px;
}
footer .fa-discord {
    background-color: #212121;
    padding: 30px 15px;
    border-radius: 20px;
}
i.fa-discord:hover {
    color: greenyellow;
}
i.fa-discord {
    color: #63E6BE;
}

.logo {
    display: flex;
    justify-content: center;
}
.logo h1:nth-last-child(2) {
    letter-spacing: 5px;
    font-weight: 600;
    display: inline-block;
    width: 80px;
}
.logo h1:nth-last-child(1) {
    letter-spacing: -5px;
    font-weight: 100;
    display: inline-block;
    width: 80px;
}
header h1 {
    margin: 0;
    font-size: xxx-large;
    color: orangered;
}
strong {
    font-weight: normal;
}
h1 {
    text-align: center;
    margin: 0;
}
nav {
    padding: 20px;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: larger;
    background-color: #212121;
    border-radius: 20px;
}
nav a.active, a:hover {
    color: greenyellow;
}

.content {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.content h2, h3 {
    display: none;
}
.content p, .content ul {
    line-height: 1.5;
}
.button {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid grey;
    color: white;
    font-size: xx-large;
}
a {
    color: lightblue;
    text-decoration: none;
}

.paypal p {
    text-align: center;
    margin: 0;
}

details {
    margin: 20px;
    border: 1px solid lightblue;
    border-radius: 4px;
}
summary {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
}

details[open] summary {
    border-bottom: 1px solid greenyellow;
}
details[open], details:hover {
    border: 1px solid greenyellow;
}
details p {
    font-size:95%;
}

@media (max-width: 600px) {
    .logo h1:nth-last-child(2) {
        width: 100px;
    }
    body {
        font-family: 'Courier New', Courier, monospace;
        height: auto;
    }
    nav a {
        margin: 0;
        padding: 10px;
        margin: 0 5px;
        display: block;
        margin: 20px;
    }
    nav {
        padding: 0;
    }
}