@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 20%;
    line-gap-override: 0%;
}

.loaded body {
    font-family: 'Poppins', 'Google Sans', sans-serif;
}

body {
    background-color: #091a1a;
    color: white;
    font-family: 'Google Sans', sans-serif;
    margin: auto;
    padding: 0;
    text-align: center;
    max-width: 800px;
    cursor: crosshair;
}

header, footer {
    margin: 20px 0;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    margin: 0;
    padding: 0 20px;
}
.footer p:nth-last-child(1) {
    color: lightblue;
}
footer .fa-discord {
    background-color: rgba(11, 35, 35, 0.5);
    color: #63E6BE;
    padding: 30px 15px;
    border-radius: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
footer .linktree {
    width: 50px;
    background-color: #0b2323;
    padding: 5px 10px;
    border-radius: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
    background-color: rgba(11, 35, 35, 0.5);
}

.linktree:hover {
    transform: scale(1.1);
}

i.fa-discord:hover {
    color: #adff2f;
    transform: scale(1.1);
}

.logo {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.logo h1:nth-last-child(2) {
    letter-spacing: 5px;
    font-weight: 600;
    display: inline-block;
    width: 133px; 
}
.logo h1:nth-last-child(1) {
    letter-spacing: -5px;
    font-weight: 100;
    display: inline-block;
    width: 133px;
}
header h1 {
    margin: 0;
    font-size: 5em;
    color: rgb(255, 69, 0);
}
strong {
    font-weight: normal;
}
h1 {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    margin: 2vh 20px;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 10px;
    padding: 5px 20px;
    font-size: 1.1em;
    background: rgba(11, 35, 35, 0.5);
    border-radius: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
    display: inline-flex;
    align-items: center;
    color: lightblue;
}
nav a.active, nav a:hover {
    color: greenyellow;
}
nav a:hover {
    transform: scale(1.1);
}

.fa-solid {
    font-size: 2em;
    width: 50px;
    display: inline-block;
    padding-right: 10px;
}

.content {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid rgba(99, 230, 190, 0.5);
    border-top: 1px solid rgba(99, 230, 190, 0.5);
}
.content h2, h3 {
    display: none;
}
.content p, .content ul {
    line-height: calc(1vh + 1em);
    margin: 2vh 20px;
}
.button {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid grey;
    color: white;
    font-size: xx-large;
    background-color: #0b2323;
}
a {
    color: #add8e6;
    text-decoration: none;
}

.paypal p {
    text-align: center;
    margin: 0;
}

details {
    margin: 20px;
    border: 1px solid lightblue;
    border-radius: 4px;
}
summary {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
}

details[open] summary {
    border-bottom: 1px solid greenyellow;
}
details[open], details:hover {
    border: 1px solid greenyellow;
}

em {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../ZLBopti/giphy.webp') no-repeat center center fixed;    
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}

@media (max-width: 600px) {
    body {
        background-color: #183739;
    }
    nav a {
        margin: 5px;
        padding: 10px 20px;
        display: inline-grid;
        background: #0b2323;
        justify-content: center;
    }
    nav a span{
        display: none;
    }
    nav {
        padding: 0;
    }
    .background {
        background: none;
    }
    em {
        display: block;
        font-style: normal;
    }
    .fa-solid {
        text-align: center;
    }

}

@media (min-height: 1000px) {
    html, body {
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content {
        padding: 5vh 20px;
    }
    header, footer {
        margin: 5vh 0;
    }
}

@media (max-width: 900px) {
    nav a {
        display: inline-grid;
        font-size: 1em;
        width: 10vw;
        justify-content: center;
    }
    nav a span{
        display: none;
    }
    nav {
        padding: 0;
    }
    em {
        display: block;
        font-style: normal;
    }
    .fa-solid {
        text-align: center;
        padding: 0;
    }
}